h1{
    color: #4E7375;
    display: flex;
    justify-content: center;
    margin-top: -10px;
}


h2 {
    color: #4E7375;
    display: flex;
    justify-content: center;
}

#container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}

.splashBig{
    color: #4E7375;
        display: flex;
        justify-content: center;
        font-size: 30px;
        
}
.splash-text{
    margin-top:20px;
    color: #4E7375;
    display: flex;
    justify-content: center;
}
.img-splash{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 /* margin-left: 200px; */

}

.splash-button{
            display: flex;
            justify-content: space-between;
            background-color: #4E7375;
            color: white;
            width: 150px;
            height: 31px;
            border-radius: 5px;
            border: solid white 1px;
            text-align: center;
                position: absolute;
                left: 40%;
                transform: translateX(-40%)
}
