.users-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    column-gap: 35px;
    line-height: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 30px;
    row-gap: 30px;
    margin-bottom: 6%;
    /* flex-grow: 1; */
}

.user-details{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    column-gap: 18px;
    line-height: 20px;
    margin: 16px 0px 40px 0px;
    padding: 0 5px 0 5px;
    margin-top: 50px;
}
.img-size:hover{
    transform: scale(1.2);
}
user-splash-img{
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.img-size{
    display: flex;
        height: 310px;
        width: 387px;
        font-family: Circular,
            -apple-system,
            BlinkMacSystemFont,
            Roboto,
            Helvetica Neue,
            sans-serif;
        border-radius: 10px;

        background-size: cover;
         border: 2px solid #4E7375;
         /* border: 2px solid #EAEEF1; */
}

.house{
color:#4E7375;
margin-right: 10px;
}

.location{
    color: #D9A190;
    margin-right: 16px;
}
