.users-container-individual-user{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-around;
    column-gap: 18px;
    line-height: 20px;
    margin: 16px 0px 40px 0px;
    padding: 0 5px 0 5px;
    /* cursor: pointer; */
    margin-top: 50px;
    margin-left: 30px;
    /* opacity: 0.9; */
}



.user-details-container {

        display: inline-block;
        align-items: center;
        justify-content: space-between;

    }

user-splash-img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.img-size-user {
    display: flex;
    height: 500px;
    width: 518px;
    font-family: Circular,
        -apple-system,
        BlinkMacSystemFont,
        Roboto,
        Helvetica Neue,
        sans-serif;
    border-radius: 10px;
    background-size: cover;
}

.img-size-id {
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 540px;
    font-family: Circular,
        -apple-system,
        BlinkMacSystemFont,
        Roboto,
        Helvetica Neue,
        sans-serif;
    border-radius: 10px;
    background-size: cover;
    text-decoration: none;
}

.secondary-header-text{
    font-style: italic;
}


.btn-secondary{
    background-color: #84A3A8;
    animation: wiggle 2s linear infinite;
}

button{
background-color: #4E7375;
    color: white;
    width: 150px;
    height: 31px;
    border-radius: 5px;
    border: solid white 1px;
}

.check{
    color: #4E7375;
    margin-right: 10px;
}

.location{
    margin-right: 11px;
}



/* Keyframes */
@keyframes wiggle {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}

body {
    background: #000;
}

.btn-secondary {
    position: relative;
    left: calc(50% - 3em);
    top: calc(50% - 2em);

    height: 4em;
    width: 7em;

    background:#84A3A8;
    background: linear-gradient(top, #555, #333);
    border: none;
    border-top: 3px solid #4E7375;
    border-radius: 0 0 0.2em 0.2em;
    color: #fff;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 1em;
    transform-origin: 50% 5em;
}
