.users-container-individual-user{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    column-gap: 18px;
    line-height: 20px;
    margin: 16px 0px 40px 0px;
    padding: 0 5px 0 5px;
    /* cursor: pointer; */
    margin-top: 50px;
    /* opacity: 0.9; */
}



.user-details-container {

        display: inline-block;
        align-items: center;
        justify-content: space-between;

    }

user-splash-img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.img-size-user {
    display: flex;
    height: 500px;
    width: 518px;
    font-family: Circular,
        -apple-system,
        BlinkMacSystemFont,
        Roboto,
        Helvetica Neue,
        sans-serif;
    border-radius: 10px;
    background-size: cover;
}

.img-size-id {
    display: flex;
    flex-direction: row;
    height: 428px;
    width: 560px;
    font-family: Circular,
        -apple-system,
        BlinkMacSystemFont,
        Roboto,
        Helvetica Neue,
        sans-serif;
    border-radius: 10px;
    background-size: cover;
    text-decoration: none;
}

.secondary-header-text{
    font-style: italic;
}


.btn-secondary{
    background-color: #84A3A8;
}

button{
background-color: #4E7375;
    color: white;
    width: 150px;
    height: 31px;
    border-radius: 5px;
    border: solid white 1px;
}
