
header{
    display: flex;
    flex: row;
    overflow: hidden;
    position: sticky;
    justify-content: space-between;
    /* align-items: center; */
    /* z-index: 100; */
    width: 100%;
    top: 0;
     /* padding: 30px 10%; */

}

/* .barLink li{
    display: inline-block;
} */
/* .logo{
    display: flex;


} */


.logoImg{
    /* display: flex; */
    height: 10vh;
    width: 10vh;
    text-decoration: none;
    display: inline-flex;
    position: relative;
}

.btn-my-hires:hover{
    background-color: purple;
}

.search-bar{
    display: flex;
        align-items: center;
        flex: 1;
        max-width: fit-content;
        padding: 10px;
        height: 30px;
        border: 2px solid purple;
        border-radius: 999px;
        cursor: pointer;

}

.search-bar>input {
    border: none;
    width: 250px;
    outline-width: 0;
    padding: 12px 12px 12px 12px;
    cursor: pointer;
}

.navButton{
    display: flex;
    flex-direction: row;
}
li{
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;


}
