

.med-btn {
    background-color: #4E7375;
    color: white;
    width: 150px;
    height: 31px;
    border-radius: 5px;
    border: solid white 1px;
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

.med-title {
    color:#4E7375;
}

.img-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

}
.img-pnf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 50%;
    border-radius: 10px;
    align-items: center;
}
